<!-- Genre Popover -->
<div popover id="genrePopover" class="genre-popover">
  <div class="genre-popover-header">
    <h3>Select Genre</h3>
    <button class="genre-popover-close" popovertarget="genrePopover" popovertargetaction="hide">
      <i class="ph-bold ph-x"></i>
    </button>
  </div>
  <div class="genre-popover-content">
    <div class="genre-tags">
      <button class="genre-tag" data-query="edm workout music">
        <span>EDM</span>
      </button>
      <button class="genre-tag" data-query="rock workout music">
        <span>Rock</span>
      </button>
      <button class="genre-tag" data-query="hip hop workout music">
        <span>Hip Hop</span>
      </button>
      <button class="genre-tag" data-query="metal workout music">
        <span>Metal</span>
      </button>
      <button class="genre-tag" data-query="trap workout music">
        <span>Trap</span>
      </button>
      <button class="genre-tag" data-query="dubstep workout music">
        <span>Dubstep</span>
      </button>
      <button class="genre-tag" data-query="hardstyle workout music">
        <span>Hardstyle</span>
      </button>
      <button class="genre-tag" data-query="techno workout music">
        <span>Techno</span>
      </button>
      <button class="genre-tag" data-query="phonk workout music">
        <span>Phonk</span>
      </button>
      <button class="genre-tag" data-query="drum and bass workout music">
        <span>DnB</span>
      </button>
    </div>
  </div>
</div>
