<!-- Genre Popover -->
<div class="genre-popover" id="genrePopover" popover>
  <div class="genre-popover-header">
    <h3>Select Genre</h3>
    <button class="genre-popover-close" popovertarget="genrePopover" popovertargetaction="hide">
      <img alt="Close" class="svg-icon" src="/svg-icons/add-remove-delete/cancel-01.svg"/>
    </button>
  </div>
  <div class="genre-popover-content">
    <div class="genre-tags">
      <button class="genre-tag" data-query="edm workout music">
        <img alt="EDM" class="genre-icon svg-icon" src="/svg-icons/media/music-note-02.svg"/>
        <span>EDM</span>
      </button>
      <button class="genre-tag" data-query="rock workout music">
        <img alt="Rock" class="genre-icon svg-icon" src="/svg-icons/game-and-sports/baseball-bat.svg"/>
        <span>Rock</span>
      </button>
      <button class="genre-tag" data-query="hip hop workout music">
        <img alt="Hip Hop" class="genre-icon svg-icon" src="/svg-icons/media/mic-01.svg"/>
        <span>Hip Hop</span>
      </button>
      <button class="genre-tag" data-query="metal workout music">
        <img alt="Metal" class="genre-icon svg-icon" src="/svg-icons/smiley-and-emojis/dead.svg"/>
        <span>Metal</span>
      </button>
      <button class="genre-tag" data-query="dubstep workout music">
        <img alt="Dubstep" class="genre-icon svg-icon" src="/svg-icons/media/speaker.svg"/>
        <span>Dubstep</span>
      </button>
      <button class="genre-tag" data-query="hardstyle workout music">
        <img alt="Hardstyle" class="genre-icon svg-icon" src="/svg-icons/energy/energy.svg"/>
        <span>Hardstyle</span>
      </button>
      <button class="genre-tag" data-query="techno workout music">
        <img alt="Techno" class="genre-icon svg-icon" src="/svg-icons/artificial-intelligence/robotic.svg"/>
        <span>Techno</span>
      </button>
      <button class="genre-tag" data-query="phonk workout music">
        <img alt="Phonk" class="genre-icon svg-icon" src="/svg-icons/transportation/car-01.svg"/>
        <span>Phonk</span>
      </button>
      <button class="genre-tag" data-query="tabata workout music">
        <img alt="Tabata" class="genre-icon svg-icon" src="/svg-icons/date-and-time/timer-01.svg"/>
        <span>Tabata</span>
      </button>
    </div>
  </div>
</div>
