<!-- Mood Popover -->
<div class="mood-popover" id="moodPopover" popover>
  <div class="mood-popover-header">
    <h3>Select Mood</h3>
    <button class="mood-popover-close" popovertarget="moodPopover" popovertargetaction="hide">
      <img src="/svg-icons/add-remove-delete/cancel-01.svg" class="svg-icon" alt="Close" />
    </button>
  </div>
  <div class="mood-popover-content">
    <div class="mood-tags">
      <button class="mood-tag" data-query="beast mode workout music">
        <img src="/svg-icons/gym-and-fitness/dumbbell-01.svg" class="mood-icon svg-icon" alt="Beast Mode" />
        <span>Beast Mode</span>
      </button>
      <button class="mood-tag" data-query="intense workout music">
        <img src="/svg-icons/energy/fire.svg" class="mood-icon svg-icon" alt="Intense" />
        <span>Intense</span>
      </button>
      <button class="mood-tag" data-query="energetic workout music">
        <img src="/svg-icons/energy/energy.svg" class="mood-icon svg-icon" alt="Energetic" />
        <span>Energetic</span>
      </button>
      <button class="mood-tag" data-query="power workout music">
        <img src="/svg-icons/energy/energy.svg" class="mood-icon svg-icon" alt="Power" />
        <span>Power</span>
      </button>
      <button class="mood-tag" data-query="aggressive workout music">
        <img src="/svg-icons/energy/fire.svg" class="mood-icon svg-icon" alt="Aggressive" />
        <span>Aggressive</span>
      </button>
      <button class="mood-tag" data-query="pump up workout music">
        <img src="/svg-icons/gym-and-fitness/wellness.svg" class="mood-icon svg-icon" alt="Pump Up" />
        <span>Pump Up</span>
      </button>
      <button class="mood-tag" data-query="focus workout music">
        <img src="/svg-icons/game-and-sports/dart.svg" class="mood-icon svg-icon" alt="Focus" />
        <span>Focus</span>
      </button>
      <button class="mood-tag" data-query="motivational workout music">
        <img src="/svg-icons/space-galaxy/rocket-01.svg" class="mood-icon svg-icon" alt="Motivated" />
        <span>Motivated</span>
      </button>
      <button class="mood-tag" data-query="steady workout music">
        <img src="/svg-icons/dashboard/dashboard-speed-01.svg" class="mood-icon svg-icon" alt="Steady" />
        <span>Steady</span>
      </button>
    </div>
  </div>
</div>
