<!-- Mood Popover -->
<div class="mood-popover" id="moodPopover" popover>
  <div class="mood-popover-header">
    <h3>Select Mood</h3>
    <button class="mood-popover-close" popovertarget="moodPopover" popovertargetaction="hide">
      <img alt="Close" class="svg-icon" src="/svg-icons/add-remove-delete/cancel-01.svg"/>
    </button>
  </div>
  <div class="mood-popover-content">
    <div class="mood-tags">
      <button class="mood-tag" data-query="beast mode workout music">
        <img alt="Beast Mode" class="mood-icon svg-icon" src="/svg-icons/gym-and-fitness/dumbbell-01.svg"/>
        <span>Beast Mode</span>
      </button>
      <button class="mood-tag" data-query="intense workout music">
        <img alt="Intense" class="mood-icon svg-icon" src="/svg-icons/energy/fire.svg"/>
        <span>Intense</span>
      </button>
      <button class="mood-tag" data-query="energetic workout music">
        <img alt="Energetic" class="mood-icon svg-icon" src="/svg-icons/energy/energy.svg"/>
        <span>Energetic</span>
      </button>
      <button class="mood-tag" data-query="power workout music">
        <img alt="Power" class="mood-icon svg-icon" src="/svg-icons/energy/energy.svg"/>
        <span>Power</span>
      </button>
      <button class="mood-tag" data-query="aggressive workout music">
        <img alt="Aggressive" class="mood-icon svg-icon" src="/svg-icons/energy/fire.svg"/>
        <span>Aggressive</span>
      </button>
      <button class="mood-tag" data-query="pump up workout music">
        <img alt="Pump Up" class="mood-icon svg-icon" src="/svg-icons/gym-and-fitness/wellness.svg"/>
        <span>Pump Up</span>
      </button>
      <button class="mood-tag" data-query="focus workout music">
        <img alt="Focus" class="mood-icon svg-icon" src="/svg-icons/game-and-sports/dart.svg"/>
        <span>Focus</span>
      </button>
      <button class="mood-tag" data-query="motivational workout music">
        <img alt="Motivated" class="mood-icon svg-icon" src="/svg-icons/space-galaxy/rocket-01.svg"/>
        <span>Motivated</span>
      </button>
      <button class="mood-tag" data-query="steady workout music">
        <img alt="Steady" class="mood-icon svg-icon" src="/svg-icons/dashboard/dashboard-speed-01.svg"/>
        <span>Steady</span>
      </button>
    </div>
  </div>
</div>
