<!-- Mood Popover -->
<div class="mood-popover" id="moodPopover" popover>
  <div class="mood-popover-header">
    <h3>Select Mood</h3>
    <button class="mood-popover-close" popovertarget="moodPopover" popovertargetaction="hide">
      <i class="ph-bold ph-x"></i>
    </button>
  </div>
  <div class="mood-popover-content">
    <div class="mood-tags">
      <button class="mood-tag" data-query="beast mode workout music">
        <i class="mood-icon ph-bold ph-barbell"></i>
        <span>Beast Mode</span>
      </button>
      <button class="mood-tag" data-query="intense workout music">
        <i class="mood-icon ph-bold ph-fire"></i>
        <span>Intense</span>
      </button>
      <button class="mood-tag" data-query="energetic workout music">
        <i class="mood-icon ph-bold ph-lightning"></i>
        <span>Energetic</span>
      </button>
      <button class="mood-tag" data-query="power workout music">
        <i class="mood-icon ph-bold ph-lightning-slash"></i>
        <span>Power</span>
      </button>
      <button class="mood-tag" data-query="aggressive workout music">
        <i class="mood-icon ph-bold ph-fire-simple"></i>
        <span>Aggressive</span>
      </button>
      <button class="mood-tag" data-query="pump up workout music">
        <i class="mood-icon ph-bold ph-heartbeat"></i>
        <span>Pump Up</span>
      </button>
      <button class="mood-tag" data-query="focus workout music">
        <i class="mood-icon ph-bold ph-crosshair"></i>
        <span>Focus</span>
      </button>
      <button class="mood-tag" data-query="motivational workout music">
        <i class="mood-icon ph-bold ph-rocket-launch"></i>
        <span>Motivated</span>
      </button>
    </div>
  </div>
</div>
