<!-- Song History & Favorites (popover) -->
<div class="music-library-popover" id="musicLibraryPopover" popover>
  <div class="history-header">
    <h3>Music Library</h3>
    <button class="history-close" popovertarget="musicLibraryPopover" popovertargetaction="hide">
      <img alt="Close" class="svg-icon" src="/svg-icons/add-remove-delete/cancel-01.svg"/>
    </button>
  </div>
  <div class="history-tabs">
    <button class="history-tab active" data-tab="recent">Recent</button>
    <button class="history-tab" data-tab="top">Most Played</button>
    <button class="history-tab" data-tab="favorites">
      <img alt="Favorites" class="svg-icon" src="/svg-icons/bookmark-favorite/favourite.svg"/>
      Favorites
    </button>
  </div>
  <div class="history-actions hidden" id="historyActions">
    <button class="history-action-btn" id="shuffleFavoritesBtn" title="Random">
      <img alt="Shuffle" class="svg-icon" src="/svg-icons/media/shuffle.svg"/>
      Random
    </button>
  </div>
  <div class="history-content" id="historyContent">
    <div class="history-empty">No songs played yet</div>
  </div>
</div>
